<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bumpkit" version="1.0.1" targetFramework="net35" />
  <package id="ImageResizer" version="3.2.4" targetFramework="net35" />
  <package id="ImageResizer.Plugins.AnimatedGifs" version="3.2.4" targetFramework="net35" />
  <package id="ImageResizer.Plugins.PrettyGifs" version="3.2.4" targetFramework="net35" />
  <package id="ManyConsole" version="0.4.2.12" targetFramework="net35" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net35" />
</packages>