@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/js")
    @RenderSection("Header")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
