
@{
    ViewBag.Title = "All right, you people";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
    <style type="text/css">
        #sortable {list-style-type: none; margin: 0; padding: 0 }

        #sortable li {display: block; position: relative; width:592px }

        #sortable img.previous { left: 0;top: 20px; position: absolute}
        #sortable img.next { right: 0; top: 20px; position: absolute}
    </style>
    <script>
        $(function() {
            $( "#sortable" ).sortable();
            $( "#sortable" ).disableSelection();
        });
    
        function ImageRow()
        {
        }

        ImageRow.prototype.Render = function() {
            var result = $("<li><img></li>");
            result.find("img").attr("src", this.imageUrl);
            return result;
        };
        
        function AllRightAnnouncement() {
            this.imageUrl = "/Content/AllRightGentlemen_dialog.png";
        }

        $.extend(AllRightAnnouncement.prototype, ImageRow.prototype);

        function AllRightMinor() {
            this.imageUrl = "/Content/AllRightGentlemen_unimpressed.png";
        }

        $.extend(AllRightMinor.prototype, ImageRow.prototype);

        function AllRightMajor() {
            this.imageUrl = "/Content/AllRightGentlemen_impressed.png";
        }

        $.extend(AllRightMajor.prototype, ImageRow.prototype);

        var rowTypeManager = new RowTypeManager();

        rowTypeManager.addRowType("AllRightAnnouncement");
        rowTypeManager.addRowType("AllRightMinor");
        rowTypeManager.addRowType("AllRightMajor");
    </script>    
}
<h2>We're going to make a gif.</h2>

 
<ul id="sortable">
</ul>
 
 
<script type="text/javascript">

    var source = [
        {
            type: "AllRightAnnouncement"
        },
        {
            type: "AllRightMinor"
        },
        {
            type: "AllRightMajor"
        }
    ];

    function GetRenderredRow(name) {
        var row = rowTypeManager.BuildRow(name);

        var previousButton = $("<img>").attr("src", "/Content/previous.png").addClass("previous");
        var nextButton = $("<img>").attr("src", "/Content/next.png").addClass("next");


        var adjacentTypes = rowTypeManager.GetAdjacent(name);

        var renderredRow = row.Render();
        renderredRow.append(previousButton);
        renderredRow.append(nextButton);

        previousButton.click(function () {
            var newRenderred = GetRenderredRow(adjacentTypes[0]);
            renderredRow.replaceWith(newRenderred);
        });

        nextButton.click(function () {
            var newRenderred = GetRenderredRow(adjacentTypes[1]);
            renderredRow.replaceWith(newRenderred);
        });

        return renderredRow;
    }

    for (var i = 0; i < source.length; i++) {
        var renderred = GetRenderredRow(source[i].type);

        $("#sortable").append(renderred);
    }
</script>
